bootstrapPassword: {{ rancher_bootstrap_password }}
installCRDs: "true"

replicas: {{ rancher_replicas }}
hostname: {{ rancher_hostname }}

ingress:
  enabled: true
  includeDefaultExtraAnnotations: true
  ingressClassName: ""
  pathType: ImplementationSpecific
  path: "/"
  servicePort: 80
  tls:
    source: {{ rancher_tls_source }}
    secretName: {{ rancher_tls_secret_name }}
  extraAnnotations: {{ rancher_extraAnnotations | default({}) }}
