---
# SLE
registration_server: "https://scc.suse.com"
registration_email: "" #Leave empty if nodes are already registered with SCC
registration_code: "" #Leave empty if nodes are already registered with SCC

# RKE2
# for lb_address, please check the https://docs.rke2.io/install/ha#1-configure-the-fixed-registration-address.
# When empty, the playbooks use the IP address of the first server.

rke2:
  version: v1.33.5+rke2r1
  token: suse-rke2-rancher-token
  lb_address: ""

# Rancher
rancher_enabled: true
rancher_version: 2.12.1 #version should be compatible with rke2.version
rancher_replicas: 3
rancher_hostname: suse-rancher.example.com
rancher_bootstrap_password: rancher
